<ng-container *ngIf="program">
  <div class="program-detail" *ngIf="program !== null; else isEmpty">
    <div class="program-detail__left">
      <h1>{{ program.programas.nombre }}</h1>
      <h2>{{ program.programas.sede.agencia.nombre_agencia }}</h2>
      <span>{{ program.programas.sede.nombre }}</span>
      <br />
      <br />
      <br />
      <p style="margin-right: 30px">
        {{ program.programas.descripcion }}
      </p>
      <br />

      <div class="program-detail__left__button">
        <button (click)="signUp()">Inscribirme</button>
      </div>
    </div>
    <div class="program-detail__right">
      <div class="program-detail__right__background">
        <img [src]="program.programas.image" alt="" />
      </div>
    </div>
  </div>

  <ng-template #isEmpty>
    <p>Cargando...</p>
  </ng-template>
</ng-container>
