<div class="registerForm" [formGroup]="recoverPasswordForm">
  <div class="modal-body">
    <div class="modal-body-container">
      <div class="title">
        <label class="title__content">Cambio de contraseña</label>
      </div>
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="newPassword"
        placeholder="Nueva contraseña"
        style="height: 50px"
      />
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="repeatNewPassword"
        placeholder="Repetir nueva contraseña"
        style="height: 50px"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="modal-footer-button"
      (click)="updatePassword()"
    >
      <label class="modal-footer-button-label">Cambiar contraseña</label>
    </button>
  </div>
</div>
