<div class="registerForm" [formGroup]="recoverPasswordForm">
  <div class="modal-body">
    <div class="modal-body-container">
      <div class="title">
        <h2 class="title__content">Cambio de contraseña</h2>
      </div>
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="newPassword"
        placeholder="Nueva contraseña"
        style="height: 50px"
      />
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="repeatNewPassword"
        placeholder="Repetir nueva contraseña"
        style="height: 50px"
      />
    </div>
  </div>
  <br />
  <div class="modal-footer">
    <div class="modal-footer-btn">
      <button
        type="button"
        class="modal-footer-button"
        (click)="updatePassword()"
      >
        <label class="modal-footer-button-label">Cambiar contraseña</label>
      </button>
    </div>
  </div>
</div>
