.modal-footer-button {
  width: 160px !important;
  height: 50px;
  border-radius: 7px;
  background: #fb4381;
  color: white;
  width: 100px;
  border-color: transparent;
}

.modal-body {
  display: flex;
  justify-content: center;
}
.modal-footer {
  border: none;
  display: flex;
  justify-content: center;
}
.modal-footer-btn {
  width: 400px;
  display: flex;
  justify-content: center;
}

.modal-body-container {
  width: 400px;
}
