<div class="modal-body">
  <div class="modal-container">
    <div class="row">
      <div class="col-md-8">
        <div>
          <p>
            <span
              style="
                font-size: 25px;
                cursor: pointer;
                color: #fb4381;
                font-weight: bold;
              "
              (click)="this.isActive = false"
              >Datos de la Agencia</span
            >
          </p>
          <p>
            <span
              style="cursor: pointer; color: gray"
              (click)="this.isActive = true"
              >Cambiar contraseña</span
            >
          </p>
        </div>
      </div>
      <div class="col-md-4 text-end">
        <button
          class="btn"
          aria-label="close"
          type="button"
          (click)="modalActive.close()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <hr style="margin-top: 0px" />

    <div class="modal-container__forgot-password" *ngIf="isActive">
      <div
        class="modal-container__forgot-password__new-password"
        [formGroup]="passwordForm"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Nueva contraseña"
          formControlName="password"
        />
      </div>
    </div>
    <div class="modal-container__personal-date" *ngIf="!isActive">
      <div
        class="modal-container__personal-date__form"
        [formGroup]="profileForm"
      >
        <div class="modal-container__personal-date__form__nombre">
          <label for="nombre">Nombre</label>
          <input
            id="nombre"
            type="text"
            class="form-control"
            placeholder="Nombre de la agencia"
            formControlName="nombre"
          />
        </div>
        <br />

        <div class="row">
          <div class="col-md-5">
            <div class="modal-container__personal-date__form__acronimo">
              <label for="acronimo">Acrónimo</label>
              <input
                id="acronimo"
                type="text"
                class="form-control"
                placeholder="Acrónimo de la agencia"
                formControlName="acronimo"
              />
            </div>
          </div>
          <div class="col-md-7">
            <div class="modal-container__personal-date__form__url">
              <label for="url">Página web</label>
              <input
                id="url"
                type="text"
                class="form-control"
                placeholder="Página web de la agencia"
                formControlName="url"
              />
            </div>
          </div>
        </div>
        <br />
        <div class="modal-container__personal-date__form__descripcion">
          <label for="descripcion">Descripción</label>
          <textarea
            style="resize: none"
            rows="4"
            id="descripcion"
            type="text"
            class="form-control"
            placeholder="Descripción de la agencia"
            formControlName="descripcion"
          >
          </textarea>
        </div>
        <br />
        <div class="modal-container__personal-date__form__imagen">
          <label for="imagen">Imagen</label>
          <input
            #file
            type="file"
            accept="image/*"
            (change)="preview(file.files)"
            id="imagen"
            class="form-control"
            placeholder="Imagen"
            formControlName="imagen"
          />
        </div>
        <br />
        <div style="text-align: center">
          <img
            src="{{ imgURL }}"
            *ngIf="imgURL"
            class="img-fluid"
            alt="Responsive image"
            style="max-height: 300px"
          />
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="footer-groups">
    <button
      type="button"
      class="btn"
      (click)="saveData()"
      style="background-color: #fb4381; color: white; margin-right: 10px"
    >
      Guardar
    </button>
    <button
      type="button"
      class="btn"
      (click)="modalActive.close()"
      style="cursor: pointer"
    >
      Cancelar
    </button>
  </div>
</div>
