<div class="container container-programs">
  <div class="row programs-filtro">
    <div class="col-12 search">
      <!--<app-search></app-search>-->
      <input
        id="typeahead-config"
        type="text"
        class="form-control"
        [(ngModel)]="paramsPrograms.programa"
        placeholder="Buscar programa..."
        (change)="changeProgram()"
      />
    </div>
    <div class="col-12 col-md-5">
      <select
        [(ngModel)]="paramsPrograms.body.id_agencia"
        class="filtro-select"
        (change)="changeAgency($event)"
      >
        <option hidden selected value="0">Agencia</option>
        <option
          *ngFor="let agency of agencies.agencias"
          value="{{ agency.id }}"
        >
          {{ agency.nombre_agencia }}
        </option>
      </select>
    </div>
    <div class="col-12 col-md-5">
      <select
        name="select"
        [(ngModel)]="paramsPrograms.body.id_sede"
        class="filtro-select"
        (change)="changeSede()"
      >
        <option hidden selected value="0">Sede</option>
        <option *ngFor="let sede of sedes.sedes" value="{{ sede.id }}">
          {{ sede.nombre }}
        </option>
      </select>
    </div>
    <div class="col-12 col-md-2 text-right">
      <button
        type="button"
        class="btn fw-bold"
        style="background-color: #653eb3; color: white"
        (click)="cleanFilters()"
      >
        Limpiar Filtros
      </button>
    </div>
  </div>
  <div class="col-12 programs">
    <!--<app-program></app-program>-->
    <div class="row">
      <div
        *ngFor="let program of programs.lista_programas"
        class="col-12 col-md-4"
      >
        <div class="card card-program">
          <img [src]="program.sede.agencia.image" style="height: 250px;width: 100%;" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ program.nombre }}</h5>
            <p class="card-text text-secondary" style="text-align: justify">
              {{ program.descripcion }}
            </p>
            <a
              (click)="redirect('/user/programdetail/' + program.id)"
              class="btn btn-primary btn-program fw-bold"
              >Ver mas</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
