<div class="container servicios">
    <div class="servicios-info col-12">
        <h3>PROCESO</h3>
        <div class="row align-items-center">
            <div class="img-servicio1 col-12 col-md-4">
                <img src="assets/imgs/personas.png" alt="">
                <h4>Paso 1</h4>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. </p>
            </div>
            <div class="img-servicio2 col-12 col-md-4">
                <img src="assets/imgs/menu.png" alt="">
                <h4>Paso 2</h4>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. </p>
            </div>
            <div class="img-servicio3 col-12 col-md-4">
                <img src="assets/imgs/avion.png" alt="">
                <h4>Paso 3</h4>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <h3>PROGRAMAS</h3>
        <app-program></app-program>
    </div>
</div>
