<div class="modal-body">
  <div class="row">
    <div class="col-md-8">
      <p style=" font-size: 28px;">
        Editar Sede
      </p>
    </div>
    <div class="col-md-4">
      <button
        class="close"
        aria-label="close"
        type="button"
        (click)="modalActive.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="formulario" [formGroup]="form">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <label for="distrito" class="form-label">Distrito</label>
          <input
            type="text"
            class="form-control"
            id="distrito"
            placeholder="Nombre del distrito"
            formControlName="distrito"
          />
          <p
            *ngIf="
              form.controls.distrito.touched && form.controls.distrito.errors
            "
            class="text-end text-danger"
            style="    font-size: 15px;
              text-align: left!important;
              margin-top: 10px;"
              >
            Ingresa el distrito.
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-3">
          <label for="contactame" class="form-label">Contacto</label>
          <input
            type="number"
            class="form-control"
            id="contactame"
            placeholder="Numero de contacto"
            formControlName="contactame"
          />
          <p
            *ngIf="
              form.controls.contactame.touched &&
              form.controls.contactame.errors
            "
            class="text-end text-danger"
            style="    font-size: 15px;
              text-align: left!important;
              margin-top: 10px;"
                >
            Ingresa el numero de contacto.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <label for="direccion" class="form-label">Direccion</label>
          <input
            type="text"
            class="form-control"
            id="direccion"
            placeholder="Ingresa la direccion"
            formControlName="direccion"
          />
          <p
            *ngIf="
              form.controls.direccion.touched && form.controls.direccion.errors
            "
            class="text-end text-danger"
            style="    font-size: 15px;
            text-align: left!important;
            margin-top: 10px;"
          >
            Ingresa la direccion.
          </p>
        </div>
      </div>
    </div>

    <div class="row text-end">
      <div class="col-md-12">
        <button
          (click)="enviarData()"
          type="button"
          class="btn btn-outline-dark"
          [disabled]="form.invalid"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modalActive.close()"
          style="margin-left: 10px;"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
