<div class="registerForm" [formGroup]="registerForm">
  <div class="modal-body">
    <div class="modal-body-container">
      <div class="title">
        <label class="title__content">Registrate</label>
      </div>
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Nombres"
        style="height: 50px"
      />
      <small
        class="text-danger"
        *ngIf="
          registerForm.get('name')?.errors?.required &&
          registerForm.get('name')?.touched
        "
        >Requerido</small
      >

      <br />
      <input
        type="password"
        class="form-control"
        formControlName="lastName"
        placeholder="Apellido Paterno"
        style="height: 50px"
      />
      <small
        class="text-danger"
        *ngIf="
          registerForm.get('lastName')?.errors?.required &&
          registerForm.get('lastName')?.touched
        "
        >Requerido</small
      >
      <br />
      <input
        type="text"
        class="form-control"
        formControlName="motherLastName"
        placeholder="Apellido Materno"
        style="height: 50px"
      />
      <small
        class="text-danger"
        *ngIf="
          registerForm.get('motherLastName')?.errors?.required &&
          registerForm.get('motherLastName')?.touched
        "
        >Requerido</small
      >
      <br />

      <input
        type="email"
        class="form-control"
        formControlName="email"
        placeholder="email"
        style="height: 50px"
      />
      <small
        class="text-danger"
        *ngIf="registerForm.get('email')?.errors?.pattern"
        >Email invalido</small
      >
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Contraseña"
        style="height: 50px"
      />
      <span
        class="error-email"
        *ngIf="registerForm.get('password')?.errors?.minlength"
      >
        La contraseña debe contener como minimo 6 caracteres</span
      >
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="confirmacion de contraseña"
        style="height: 50px"
      />
      <span
        class="error-email"
        *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
      >
        La contraseña debe contener como minimo 6 caracteres</span
      >
    </div>
    <span
      *ngIf="this.registerForm?.hasError('mismatch')"
      style="color: red; font-weight: 700; font-size: 12px"
    >
      Las contraseñas no coinciden
    </span>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      (click)="registerUser()"
      [disabled]="!isValid()"
      [ngClass]="isValid() ? 'modal-footer-button' : 'desabilitar'"
    >
      <label
        [ngClass]="isValid() ? 'modal-footer-button-label' : 'noValidLabel'"
        >Registrar</label
      >
    </button>
  </div>

  <div style="height: 20px"></div>
</div>
