<div class="loginForm" [formGroup]="loginForm" *ngIf="isLogin">
  <div class="modal-header">
    <button
      class="close"
      aria-label="close"
      type="button"
      (click)="modalActive.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body-container">
      <div><span class="material-icons-outlined"> local_airport </span></div>
      <label class="modal-body-container-label">Iniciar Sesión</label>
      <input
        type="text"
        class="form-control"
        formControlName="email"
        placeholder="Correo"
        style="height: 50px"
      />
      <br />
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
        style="height: 50px"
      />
    </div>
  </div>
  <div class="modal-footer">
    <div style="height: 20px"></div>

    <button
      type="button"
      class="modal-footer-button"
      (click)="login()"
      [disabled]="isValid()"
      [ngClass]="{ desabilitar: isValid() }"
    >
      <label class="modal-footer-button-label"> Ingresar! </label>
    </button>
    <span
      >Has olvidado tu contraseña ? click
      <strong (click)="seeModal()">aquí</strong>
    </span>
  </div>

  <div style="height: 60px"></div>
</div>
<ng-container *ngIf="!isLogin">
  <div [formGroup]="recoverForm" style="padding: 30px">
    <h2>Recuperación de contraseña</h2>
    <input
      type="text"
      class="form-control"
      formControlName="emailRecover"
      placeholder="Correo"
      style="height: 50px; margin-bottom: 10px"
    />

    <button
      type="button"
      class="modal-footer-button"
      (click)="modalActive.close()"
      (click)="enviarCorreo()"
      [disabled]="isValidEmailSend()"
      [ngClass]="{ desabilitar: isValidEmailSend() }"
    >
      <label class="modal-footer-button-label"> Enviar correo </label>
    </button>
  </div>
</ng-container>
