<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Programa</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="nombrePrograma">Nombre</label>
          <div class="input-group">
            <input id="nombrePrograma" class="form-control" name="dp">            
          </div>
          <label for="descPrograma">Descripción</label>
          <div class="input-group">
            <input id="descPrograma" class="form-control" name="dp">            
          </div>
          <label for="vacantesPrograma">#Vacantes</label>
          <div class="input-group">
            <input id="vacantesPrograma" class="form-control" name="dp">            
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancelar</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nuevo Programa</button>
  
  <hr>
  
  