<div class="container-home">
  <div class="container-home__image-text">
    <div class="container-home__image-text__img">
      <img
        src="https://images.unsplash.com/photo-1623578965106-a01ad1b2224f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=891&q=80"
        style="width: 100%; height: 600px"
        alt=""
      />
    </div>
    <div class="container-home__image-text__parrof">
      <div class="container-home__image-text__parrof__function">
        <label style="margin: 0">¿Como funciona?</label>
      </div>
      <div class="container-home__image-text__parrof__parr">
        <p style="margin: 0">
          Watu es una pagina web que sirve para contactar agencias de
          intercambio cultural.Cada una de estas agencias ofrece diversos
          programas que abarcan desde personas que recien han acabo la
          secundaria , pero que tengan nociones basicas del idioma ingles, hasta
          estudiantes universitarios o egresados que quieran conocer algun pais
          o trabajar.
        </p>
      </div>
      <div class="container-home__image-text__parrof__btn">
        <button class="container-home__image-text__parrof__btn__purple">
          Ver más
        </button>
      </div>
    </div>
  </div>

  <div class="container-home__advice">
    <div class="container-home__advice__title">
      <label>Advice for Everyone</label>
    </div>
    <div class="container-home__advice__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio
        porro possimus unde, fuga molestias alias vel necessitatibus corrupti,
        minus culpa voluptatibus iusto earum expedita facere deserunt commodi.
        Tempora, iste! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nisi earum quo dolorum architecto sapiente atque voluptates expedita,
        sequi esse hic!
      </p>
    </div>

    <div class="container-home__advice__cards">
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=""></div>
