<div class="container-home">
  <div class="container-home__image-text">
    <div class="container-home__image-text__img">
      <img
        src="https://fondosmil.com/fondo/17014.jpg"
        style="width: 100%; height: 500px"
        alt=""
      />
    </div>
    <div class="container-home__image-text__parrof">
      <div class="container-home__image-text__parrof__function">
        <label style="margin: 0">¿Como funciona?</label>
      </div>
      <div class="container-home__image-text__parrof__parr">
        <p style="margin: 0">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores id
          hic numquam vero necessitatibus, debitis quasi amet suscipit animi
          quos? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa
          alias quaerat similique atque reprehenderit non, repellendus at
          possimus illo sint.
        </p>
      </div>
      <div class="container-home__image-text__parrof__btn">
        <button class="container-home__image-text__parrof__btn__purple">
          Ver mas
        </button>
      </div>
    </div>
  </div>

  <div class="container-home__advice">
    <div class="container-home__advice__title">
      <label>Advice for Everyone</label>
    </div>
    <div class="container-home__advice__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odio
        porro possimus unde, fuga molestias alias vel necessitatibus corrupti,
        minus culpa voluptatibus iusto earum expedita facere deserunt commodi.
        Tempora, iste! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nisi earum quo dolorum architecto sapiente atque voluptates expedita,
        sequi esse hic!
      </p>
    </div>

    <div class="container-home__advice__cards">
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
      <div class="container-home__advice__cards__item">
        <div class="container-home__advice__cards__item__icon">
          <span class="material-icons-sharp"> flag </span>
        </div>
        <div class="container-home__advice__cards__item__title">
          <label>Route Selection</label>
        </div>
        <div class="container-home__advice__cards__item__content">
          <p>
            Mauris fermentum tortor non enim aliquet condimentum. Nam aliquam
            pretium duis sem feugiat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=""></div>
