<div class="container agency-programs">
  <div class="d-flex justify-content-end align-items-center">
    <div class="mr-auto">
      <h3 style="font-weight: 700">PROGRAMAS</h3>
    </div>
    <div>
      <app-add-program-modal></app-add-program-modal>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <!--<th scope="col">Ver</th>-->
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">#Vacantes</th>
        <th scope="col">#Inscritos</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Visible</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let programa of programas; index as i">
        <!--<td>
          <button
            class="btn btn-sm btn-sm rounded-0"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="See"
          >
            <i class="material-icons">&#xe417;</i>
          </button>
        </td>-->
        <td>
          {{ programa.nombre }}
        </td>
        <td>{{ programa.descripcion }}</td>
        <td>{{ programa.vacantes | number }}</td>
        <td>{{ programa.inscritos | number }}</td>
        <td>
          <!--<button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top"
            title="Edit"><i class="material-icons">&#xE254;</i></button>-->
          <button
            class="btn btn-success btn-sm rounded-0"
            (click)="editarPrograma(programa)"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Edit"
          >
            <i class="material-icons">&#xE254;</i>
          </button>
        </td>

        <td>
          <button
            class="btn btn-danger btn-sm rounded-0"
            type="button"
            data-toggle="tooltip"
            data-placement="top"
            title="Delete"
            (click)="deleteProgram($event, programa.id)"
          >
            <i class="material-icons">&#xE872;</i>
          </button>
        </td>
        <td class="agency-programs-visible">
          <input
            *ngIf="programa.estado === 0"
            type="checkbox"
            onload
            data-toggle="toggle"
            (click)="changeVisible($event, programa)"
          />
          <input
            *ngIf="programa.estado === 1"
            checked
            type="checkbox"
            onload
            data-toggle="toggle"
            (click)="changeVisible($event, programa)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
