<br>


<div class="d-flex justify-content-end">
  <div class="mr-auto p-2">PROGRAMAS</div>
  <div class="p-2">
    <app-add-program-modal></app-add-program-modal>
  </div>
</div>

<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ver</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">#Vacantes</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let programa of programas.lista_programas; index as i">
        <td>
          <button class="btn btn-sm btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top"
            title="See"><i class="material-icons">&#xe417;</i></button>
        </td>
        <td>
          {{ programa.nombre}}
        </td>
        <td>{{ programa.descripcion}}</td>
        <td>{{ programa.vacantes | number }}</td>
        <td>
          <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top"
            title="Edit"><i class="material-icons">&#xE254;</i></button>

        </td>

        <td>
          <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top"
            title="Delete"><i class="material-icons">&#xE872;</i></button>
        </td>
      </tr>
    </tbody>
  </table>

</div>